</br>

<% content_for(:html_title) { @game.name } %>

<div class="text-decoration-none">
  <a href='#' style="text-decoration:none;" onclick='history.go(-1);return false;'>Return</a>
</div>

</br>

<div class="container">
  <h1><%= @game.name %></h1>

  <div class="container">

    <p>
      <strong>Genre: </strong>
      <%= @game.genre %>
    </p>
    <p>
      <strong>Platform: </strong>
      <%= link_to @game.platform.title, @game.platform %>
    </p>

    <p>
      <strong>Developer: </strong>
      <%= @game.developer %>
    </p>

    <p>
      <div>
        <h5 style="font-weight: bold;">Description:</h5>
        <%= @game.description %>
      </div>
    </p>

  </div>
</div>



          <% if @game.image.present? %>
            <div style="display:flex;justify-content:center;align-items:center;overflow:hidden;height:100px;/*! border-radius: 10px 10px 100% 100%; */box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
              <%= image_tag(@game.image.variant(resize_to_limit: [600, 600]), {:style => "flex-shrink:0;min-width:100%;"}) %>
            </div>
          <% else %>
            <div style="display:flex;justify-content:center;align-items:center;overflow:hidden;height:100px;/*! border-radius: 10px 0px 100% 100%; */box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
              <%= image_tag(@game.cover_art, {:style => "flex-shrink:0;min-width:100%;"}) %>
            </div>
          <% end %>
            <h5 style="font-size:18px;"><%= link_to @game.name, @game %></h5>
            <p style="font-size:12px;">Platform: <%= link_to @game.platform.title, @game.platform %></p>


            <ul>
              <% if @game.on_sale == true %>
                <li style="font-size:12px;">Price: <br><del><%= number_to_currency(@game.price) %></del> <%= number_to_currency(@game.sale_price) %></li>
              <% else %>
                <li style="font-size:12px;">Price: <br><%= number_to_currency(@game.price) %></li>
              <% end %>
              <li style="font-size:12px;">Release Date: <br><%= @game.release_date %></li>
            </ul>
            <ul >
              <li style="font-size:12px;">Genre: <br><%= @game.genre %></li>
            </ul>
             <div>
            <%= form_tag ordered_games_path do %>
              <%= hidden_field_tag :game_id, @game.id %>
              <%= hidden_field_tag :name, @game.name %>
              <%= hidden_field_tag :quantity, 1 %>
              <%= submit_tag "Add to Cart ➕",  :style=>"background: none;border: none;padding: 0;font: inherit;cursor: pointer;outline: inherit;font-size: 12px;" %>
            <% end %>
          </div>
          </div>
