</br>

<% content_for(:html_title) { @game.name } %>

<div class="text-decoration-none">
  <a href='#' style="text-decoration:none;" onclick='history.go(-1);return false;'>Return</a>
</div>

</br>

<div class="container">
  <h2><strong><%= @game.name %></strong></h2>
  </br>

  <div class="row mx-1 my-3">

    <div class="col-md-5 col-sm-12 col-xs-1">
      <div style="max-width: 300px; max-height: 400px;">
        <% if @game.image.present? %>
            <%= image_tag(@game.image.variant(resize_to_limit: [600, 600]), {:style => "display: block;width: 100%;height: auto;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"}) %>
        <% else %>
            <%= image_tag(@game.cover_art, {:style => "display: block;width: 100%;height: auto;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"}) %>
        <% end %>
      </div>
    </div>

    <div class="col-md-7 col-sm-12 col-xs-1">
      <p>
        <strong>Genre: </strong>
        <%= @game.genres_list %>
      </p>
      <p>
        <strong>Platform: </strong>
        <%= link_to @game.platform.title, @game.platform %>
      </p>

      <p>
        <strong>Release Date: </strong>
        <%= @game.release_date %>
      </p>

      <p>
        <strong>Developer: </strong>
        <%= @game.developer %>
      </p>

      <p><strong>Price:</strong>
        <% if @game.on_sale == true %>
            <del><%= number_to_currency(@game.price) %></del> <%= number_to_currency(@game.sale_price) %>
        <% else %>
          <p><strong>Price:</strong>
            <%= number_to_currency(@game.price) %>
        <% end %>
      </p>

      <p>
        <div>
          <h5 style="font-weight: bold;">Description:</h5>
          <%= @game.description %>
        </div>
      </p>

  <%= form_tag ordered_games_path, :class=>"form-inline", :style=>"position: absolute;right: 0px;" do %>
    <%= hidden_field_tag :game_id,  @game.id %>
    <%= hidden_field_tag :name,  @game.name %>
        <strong style="margin-right:5px;">Quantity: </strong> <%= number_field_tag :quantity, "1",:min=> "1", :max=> "10", :style=>"color:white;border: none;background-color: grey;width:40px;border-radius:50px;text-align:center;margin-right:25px;" %>
      <%= submit_tag "Add to Cart ➕", :style=>"cursor: pointer;outline: inherit;", data: { disable_with: 'One moment...' } %>
  <% end %>
      </br>


    </div>
  </div>
      </br>

</div>

